.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.eslintcache
.history
.idea
.vercel
.vscode
.yarn
.pnpm-store
.npm
.cache
.turbo
.parcel-cache
.next
out
storybook-static
*.tsbuildinfo
*.swp
*.swo
*.pid
*.seed
tmp
temp
Thumbs.db
Desktop.ini
*.log
*.tgz
build/
localdraw-app/build/
dist
firebase
logs
node_modules
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
packages/localdraw/types
coverage
.nyc_output
dev-dist
html
meta*.json
.claude
.env.development
.env.production
/server/data/*